body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

nav {
    margin: 10px;
}

button {
    margin: 20px;
    padding: 30px;
    background-color: #274690;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #576CA8;
}

#output {
    margin-top: 20px;
    font-size: 20px;
}
